<div class="container-fluid">
<%- include('../partials/header') %>

<div class="container-fluid d-flex justify-content-between mt-3">
<h2>Your Accounts</h2>
<button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addAccountModal">Add New Account</button>
</div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
      <th>Account Name</th>
      <th>Action</th>
      <th>Transaction</th>

      </tr>
    </thead>
    <tbody>
      
    <% accounts.map((account) => { %>
    <tr>
    <td>
        <%= account.name %>
    </td>
     <td>
      <button onclick="handleEdit('<%= account.id %>', '<%= account.name %>')" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editAccountModal">edit</button>
      <a href="account/delete/<%= account.id %>" class="btn btn-outline-danger">delete</a>
      </td>
      <td>
        <a href="/transaction/<%= account.id %>" class="btn btn-outline-dark">View Transaction</a>
      </td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>

 <!-- add account form -->
 <div class="modal fade" id="addAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/dashboard" method="POST">
        <div class="p-5">
                <label class="form-label">Account name</label>
                <input 
                    type="text" 
                    name="name" 
                    class="form-control border-dark"
                    required
                >
            </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Add</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!-- edit account form -->
 <div class="modal fade" id="editAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST" id="editForm">
        <div class="p-5">
                <label class="form-label">edit name</label>
                <input 
                    type="text" 
                    name="name" 
                    id="editName"
                    class="form-control border-dark"
                    required
                >
            </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning">edit</button>
      </div>
      </form>

    </div>
  </div>
</div>
</div>